@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
/* ribbon mixin */
/* line 4, ../sass/vendor/_inuit.scss */
.nav, .island, .media {
  margin: 0;
  padding: 0;
}

/*
<a class="media promo">
    <img src="product.jpg" alt="" class="img">
    <p class="body">Get Product for half price!</p>
</a>
*/
/* line 17, ../sass/vendor/_inuit.scss */
.media {
  display: block;
}
/* line 19, ../sass/vendor/_inuit.scss */
.media .img {
  float: left;
  margin-right: 10px;
}
/* line 22, ../sass/vendor/_inuit.scss */
.media .img img {
  display: block;
}
/* line 26, ../sass/vendor/_inuit.scss */
.media .img-rev {
  float: right;
  margin-left: 10px;
}
/* line 29, ../sass/vendor/_inuit.scss */
.media .img-rev img {
  display: block;
}
/* line 33, ../sass/vendor/_inuit.scss */
.media .body {
  overflow: hidden;
}
/* line 35, ../sass/vendor/_inuit.scss */
.media .body > :last-child {
  margin-bottom: 0;
}

/* line 42, ../sass/vendor/_inuit.scss */
.nav {
  list-style: none;
  margin-left: 0;
}
/* line 46, ../sass/vendor/_inuit.scss */
.nav > li,
.nav > li > a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* line 52, ../sass/vendor/_inuit.scss */
.nav.breadcrumb > li {
  font-weight: bold;
}
/* line 54, ../sass/vendor/_inuit.scss */
.nav.breadcrumb > li:before {
  content: "\0020\00BB\0020";
}
/* line 57, ../sass/vendor/_inuit.scss */
.nav.breadcrumb > li:first-child:before {
  content: normal;
}
/* line 61, ../sass/vendor/_inuit.scss */
.nav.breadcrumb a {
  font-weight: normal;
}

/* line 68, ../sass/vendor/_inuit.scss */
figure img {
  display: block;
  margin-bottom: 0;
}

/* line 74, ../sass/vendor/_inuit.scss */
img {
  color: #c00;
}

/* line 6, ../sass/stuff/_grid.scss */
.col1de12 {
  float: left;
  display: inline;
  width: 36px;
  margin: 0 10px;
}

/* line 11, ../sass/stuff/_grid.scss */
.grid1de12 {
  float: left;
  display: inline;
  width: 56px;
}

/* line 16, ../sass/stuff/_grid.scss */
.row1 {
  display: block;
  width: 912px;
  margin: 0 -120px;
}
/* line 3, ../sass/stuff/_mixins.scss */
.row1:before, .row1:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 10, ../sass/stuff/_mixins.scss */
.row1:after {
  clear: both;
}
/* line 14, ../sass/stuff/_mixins.scss */
.row1 {
  zoom: 1;
}

/* line 6, ../sass/stuff/_grid.scss */
.col2de12 {
  float: left;
  display: inline;
  width: 92.0px;
  margin: 0 10px;
}

/* line 11, ../sass/stuff/_grid.scss */
.grid2de12 {
  float: left;
  display: inline;
  width: 112px;
}

/* line 16, ../sass/stuff/_grid.scss */
.row2 {
  display: block;
  width: 792px;
  margin: 0 -60px;
}
/* line 3, ../sass/stuff/_mixins.scss */
.row2:before, .row2:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 10, ../sass/stuff/_mixins.scss */
.row2:after {
  clear: both;
}
/* line 14, ../sass/stuff/_mixins.scss */
.row2 {
  zoom: 1;
}

/* line 6, ../sass/stuff/_grid.scss */
.col3de12 {
  float: left;
  display: inline;
  width: 148px;
  margin: 0 10px;
}

/* line 11, ../sass/stuff/_grid.scss */
.grid3de12 {
  float: left;
  display: inline;
  width: 168px;
}

/* line 16, ../sass/stuff/_grid.scss */
.row3 {
  display: block;
  width: 752px;
  margin: 0 -40px;
}
/* line 3, ../sass/stuff/_mixins.scss */
.row3:before, .row3:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 10, ../sass/stuff/_mixins.scss */
.row3:after {
  clear: both;
}
/* line 14, ../sass/stuff/_mixins.scss */
.row3 {
  zoom: 1;
}

/* line 6, ../sass/stuff/_grid.scss */
.col4de12 {
  float: left;
  display: inline;
  width: 204.0px;
  margin: 0 10px;
}

/* line 11, ../sass/stuff/_grid.scss */
.grid4de12 {
  float: left;
  display: inline;
  width: 224px;
}

/* line 16, ../sass/stuff/_grid.scss */
.row4 {
  display: block;
  width: 732.0px;
  margin: 0 -30px;
}
/* line 3, ../sass/stuff/_mixins.scss */
.row4:before, .row4:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 10, ../sass/stuff/_mixins.scss */
.row4:after {
  clear: both;
}
/* line 14, ../sass/stuff/_mixins.scss */
.row4 {
  zoom: 1;
}

/* line 6, ../sass/stuff/_grid.scss */
.col5de12 {
  float: left;
  display: inline;
  width: 260px;
  margin: 0 10px;
}

/* line 11, ../sass/stuff/_grid.scss */
.grid5de12 {
  float: left;
  display: inline;
  width: 280px;
}

/* line 16, ../sass/stuff/_grid.scss */
.row5 {
  display: block;
  width: 720px;
  margin: 0 -24px;
}
/* line 3, ../sass/stuff/_mixins.scss */
.row5:before, .row5:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 10, ../sass/stuff/_mixins.scss */
.row5:after {
  clear: both;
}
/* line 14, ../sass/stuff/_mixins.scss */
.row5 {
  zoom: 1;
}

/* line 6, ../sass/stuff/_grid.scss */
.col6de12, .bg .resultado ul li {
  float: left;
  display: inline;
  width: 316px;
  margin: 0 10px;
}

/* line 11, ../sass/stuff/_grid.scss */
.grid6de12 {
  float: left;
  display: inline;
  width: 336px;
}

/* line 16, ../sass/stuff/_grid.scss */
.row6 {
  display: block;
  width: 712px;
  margin: 0 -20px;
}
/* line 3, ../sass/stuff/_mixins.scss */
.row6:before, .row6:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 10, ../sass/stuff/_mixins.scss */
.row6:after {
  clear: both;
}
/* line 14, ../sass/stuff/_mixins.scss */
.row6 {
  zoom: 1;
}

/* line 6, ../sass/stuff/_grid.scss */
.col7de12 {
  float: left;
  display: inline;
  width: 372px;
  margin: 0 10px;
}

/* line 11, ../sass/stuff/_grid.scss */
.grid7de12 {
  float: left;
  display: inline;
  width: 392px;
}

/* line 16, ../sass/stuff/_grid.scss */
.row7 {
  display: block;
  width: 706.28571px;
  margin: 0 -17.14286px;
}
/* line 3, ../sass/stuff/_mixins.scss */
.row7:before, .row7:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 10, ../sass/stuff/_mixins.scss */
.row7:after {
  clear: both;
}
/* line 14, ../sass/stuff/_mixins.scss */
.row7 {
  zoom: 1;
}

/* line 6, ../sass/stuff/_grid.scss */
.col8de12 {
  float: left;
  display: inline;
  width: 428px;
  margin: 0 10px;
}

/* line 11, ../sass/stuff/_grid.scss */
.grid8de12 {
  float: left;
  display: inline;
  width: 448px;
}

/* line 16, ../sass/stuff/_grid.scss */
.row8 {
  display: block;
  width: 702px;
  margin: 0 -15px;
}
/* line 3, ../sass/stuff/_mixins.scss */
.row8:before, .row8:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 10, ../sass/stuff/_mixins.scss */
.row8:after {
  clear: both;
}
/* line 14, ../sass/stuff/_mixins.scss */
.row8 {
  zoom: 1;
}

/* line 6, ../sass/stuff/_grid.scss */
.col9de12 {
  float: left;
  display: inline;
  width: 484px;
  margin: 0 10px;
}

/* line 11, ../sass/stuff/_grid.scss */
.grid9de12 {
  float: left;
  display: inline;
  width: 504px;
}

/* line 16, ../sass/stuff/_grid.scss */
.row9 {
  display: block;
  width: 698.66667px;
  margin: 0 -13.33333px;
}
/* line 3, ../sass/stuff/_mixins.scss */
.row9:before, .row9:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 10, ../sass/stuff/_mixins.scss */
.row9:after {
  clear: both;
}
/* line 14, ../sass/stuff/_mixins.scss */
.row9 {
  zoom: 1;
}

/* line 6, ../sass/stuff/_grid.scss */
.col10de12 {
  float: left;
  display: inline;
  width: 540px;
  margin: 0 10px;
}

/* line 11, ../sass/stuff/_grid.scss */
.grid10de12 {
  float: left;
  display: inline;
  width: 560px;
}

/* line 16, ../sass/stuff/_grid.scss */
.row10 {
  display: block;
  width: 696.0px;
  margin: 0 -12px;
}
/* line 3, ../sass/stuff/_mixins.scss */
.row10:before, .row10:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 10, ../sass/stuff/_mixins.scss */
.row10:after {
  clear: both;
}
/* line 14, ../sass/stuff/_mixins.scss */
.row10 {
  zoom: 1;
}

/* line 6, ../sass/stuff/_grid.scss */
.col11de12 {
  float: left;
  display: inline;
  width: 596px;
  margin: 0 10px;
}

/* line 11, ../sass/stuff/_grid.scss */
.grid11de12 {
  float: left;
  display: inline;
  width: 616px;
}

/* line 16, ../sass/stuff/_grid.scss */
.row11 {
  display: block;
  width: 693.81818px;
  margin: 0 -10.90909px;
}
/* line 3, ../sass/stuff/_mixins.scss */
.row11:before, .row11:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 10, ../sass/stuff/_mixins.scss */
.row11:after {
  clear: both;
}
/* line 14, ../sass/stuff/_mixins.scss */
.row11 {
  zoom: 1;
}

/* line 6, ../sass/stuff/_grid.scss */
.col12de12 {
  float: left;
  display: inline;
  width: 652px;
  margin: 0 10px;
}

/* line 11, ../sass/stuff/_grid.scss */
.grid12de12 {
  float: left;
  display: inline;
  width: 672px;
}

/* line 16, ../sass/stuff/_grid.scss */
.row12 {
  display: block;
  width: 692.0px;
  margin: 0 -10px;
}
/* line 3, ../sass/stuff/_mixins.scss */
.row12:before, .row12:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 10, ../sass/stuff/_mixins.scss */
.row12:after {
  clear: both;
}
/* line 14, ../sass/stuff/_mixins.scss */
.row12 {
  zoom: 1;
}

/*
 * $ghCol               - cor da coluna
 * $ghLines             - cor da linha
 * $transparent         - cor transparent
 * $gutterHorizontal    - tamanho espaço entre as colunas (calha)
 * $column-width        - tamanho da coluna 
 * $gutterVerticalHalf  - espaçamento vertical
*/
/* line 69, ../sass/stuff/_grid.scss */
table.gridBackgroundHelper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  display: none;
}

/* line 1, ../sass/front/_extends.scss */
footer.wrapper, .bg {
  padding-left: 18px;
  padding-left: 1.125rem;
  padding-right: 18px;
  padding-right: 1.125rem;
}

/* line 3, ../sass/stuff/_mixins.scss */
.cf:before, .cf:after,
.media:before,
.media:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 10, ../sass/stuff/_mixins.scss */
.cf:after,
.media:after {
  clear: both;
}
/* line 14, ../sass/stuff/_mixins.scss */
.cf,
.media {
  zoom: 1;
}

/* line 9, ../sass/front/_geral.scss */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  width: 672px;
}
/* line 3, ../sass/stuff/_mixins.scss */
.wrapper:before, .wrapper:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 10, ../sass/stuff/_mixins.scss */
.wrapper:after {
  clear: both;
}
/* line 14, ../sass/stuff/_mixins.scss */
.wrapper {
  zoom: 1;
}
/* line 17, ../sass/front/_geral.scss */
.wrapper.overflow {
  overflow: visible;
}

/* line 23, ../sass/front/_geral.scss */
html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #888888;
  font-size: 100%;
  height: 100%;
}

/* line 32, ../sass/front/_geral.scss */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

/* line 39, ../sass/front/_geral.scss */
header.wrapper {
  padding-top: 56px;
  padding-top: 3.5rem;
  width: 732px;
  width: 45.75rem;
  overflow: visible;
}
/* line 44, ../sass/front/_geral.scss */
header.wrapper h2.ribbon.blue {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #75d1f3;
  z-index: 999;
}
/* line 99, ../sass/stuff/_mixins.scss */
header.wrapper h2.ribbon.blue:before, header.wrapper h2.ribbon.blue:after {
  content: "\0020";
  width: .2em;
  bottom: -0.5em;
  position: absolute;
  display: block;
  border: 0.9em solid #17b2eb;
  z-index: -2;
}
/* line 108, ../sass/stuff/_mixins.scss */
header.wrapper h2.ribbon.blue:before {
  left: -1.35em;
  border-right-width: .75em;
  border-left-color: transparent;
}
/* line 114, ../sass/stuff/_mixins.scss */
header.wrapper h2.ribbon.blue:after {
  right: -1.35em;
  border-left-width: .75em;
  border-right-color: transparent;
}
/* line 120, ../sass/stuff/_mixins.scss */
header.wrapper h2.ribbon.blue span {
  background-color: #75d1f3;
  position: relative;
  display: block;
}
/* line 125, ../sass/stuff/_mixins.scss */
header.wrapper h2.ribbon.blue span:before, header.wrapper h2.ribbon.blue span:after {
  content: "\0020";
  bottom: -0.5em;
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #0c6c90 transparent transparent transparent;
  z-index: -1;
}
/* line 134, ../sass/stuff/_mixins.scss */
header.wrapper h2.ribbon.blue span:before {
  left: 0;
  border-width: .5em 0 0 .5em;
}
/* line 138, ../sass/stuff/_mixins.scss */
header.wrapper h2.ribbon.blue span:after {
  right: 0;
  border-width: .5em .5em 0 0;
}
/* line 46, ../sass/front/_geral.scss */
header.wrapper h2.ribbon.blue span {
  text-align: center;
  height: 100px;
}
/* line 49, ../sass/front/_geral.scss */
header.wrapper h2.ribbon.blue span .logo {
  position: relative;
  top: -35px;
  width: 188px;
}

/* line 58, ../sass/front/_geral.scss */
footer.wrapper {
  min-height: 30px;
  min-height: 1.875rem;
  border-top: 1px solid white;
  background-color: #75d1f3;
}

/* line 65, ../sass/front/_geral.scss */
.bg {
  padding-bottom: 50px;
  padding-bottom: 3.125rem;
  background-color: #edf4f8;
  background-image: url('/images/numbers.png?1353936001');
  background-repeat: no-repeat;
  background-position: 100% -5%;
}
/* line 75, ../sass/front/_geral.scss */
.bg h1, .bg h2 {
  color: #75d1f3;
}
/* line 79, ../sass/front/_geral.scss */
.bg h1 {
  font-size: 22px;
  font-size: 1.375rem;
}
/* line 83, ../sass/front/_geral.scss */
.bg h2 {
  font-size: 18px;
  font-size: 1.125rem;
}
/* line 87, ../sass/front/_geral.scss */
.bg p {
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 91, ../sass/front/_geral.scss */
.bg .super-mb {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
/* line 95, ../sass/front/_geral.scss */
.bg .msg {
  margin-top: 30px;
  margin-top: 1.875rem;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
/* line 100, ../sass/front/_geral.scss */
.bg .consulta {
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  -o-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 98%;
  margin: 0 auto;
  background-color: #75d1f3;
  padding: 13px;
}
/* line 107, ../sass/front/_geral.scss */
.bg .consulta input[type=text] {
  width: 100px;
}
/* line 112, ../sass/front/_geral.scss */
.bg .resultado {
  background-image: url('/images/numbers.png?1353936001');
  background-repeat: no-repeat;
  background-position: 0% 100%;
}
/* line 118, ../sass/front/_geral.scss */
.bg .resultado p {
  font-size: 12px;
  font-size: 0.75rem;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  color: #2c86a7;
  font-weight: 700;
}
/* line 123, ../sass/front/_geral.scss */
.bg .resultado p a {
  text-decoration: none;
  color: #2c86a7;
}
/* line 4, ../../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.bg .resultado p a:hover {
  text-decoration: underline;
}
/* line 18, ../../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.bg .resultado p a:visited {
  color: #2c86a7;
}
/* line 21, ../../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.bg .resultado p a:focus {
  color: #2c86a7;
}
/* line 24, ../../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.bg .resultado p a:hover {
  color: #2c86a7;
}
/* line 27, ../../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.bg .resultado p a:active {
  color: #2c86a7;
}
/* line 65, ../sass/stuff/_mixins.scss */
.bg .resultado p a.selected {
  color: #2c86a7;
}
/* line 18, ../../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.bg .resultado p a.selected:visited {
  color: #2c86a7;
}
/* line 21, ../../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.bg .resultado p a.selected:focus {
  color: #2c86a7;
}
/* line 24, ../../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.bg .resultado p a.selected:hover {
  color: #2c86a7;
}
/* line 27, ../../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.bg .resultado p a.selected:active {
  color: #2c86a7;
}
/* line 127, ../sass/front/_geral.scss */
.bg .resultado ul {
  font-size: 0;
}
/* line 129, ../sass/front/_geral.scss */
.bg .resultado ul li {
  font-size: 16px;
  font-size: 1rem;
  background-color: white;
}
/* line 133, ../sass/front/_geral.scss */
.bg .resultado ul li .bloco {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 9px solid white;
}
/* line 136, ../sass/front/_geral.scss */
.bg .resultado ul li .bloco img {
  width: 100%;
}

/* line 146, ../sass/front/_geral.scss */
.frm label.white {
  font-size: 20px;
  font-size: 1.25rem;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: white;
  text-transform: uppercase;
  vertical-align: middle;
}
/* line 154, ../sass/front/_geral.scss */
.frm input[type=text],
.frm button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-size: 0.75rem;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border: 0;
  height: 28px;
  line-height: 18px;
  padding: 4px;
  vertical-align: middle;
}
/* line 163, ../sass/front/_geral.scss */
.frm input[type=text]:focus,
.frm button:focus {
  outline: 0;
}
/* line 168, ../sass/front/_geral.scss */
.frm button {
  background-color: #2c86a7;
  vertical-align: bottom;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  padding: 4px 6px;
}
/* line 177, ../sass/front/_geral.scss */
.frm button:active {
  top: 1px;
}
/* line 180, ../sass/front/_geral.scss */
.frm button.blue {
  background-color: #75d1f3;
}

/* line 2, ../sass/stuff/_helpers.scss */
.ir {
  border: 0;
  font: 0/0 Arial;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

/* line 11, ../sass/stuff/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 17, ../sass/stuff/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 28, ../sass/stuff/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 39, ../sass/stuff/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 43, ../sass/stuff/_helpers.scss */
.fleft {
  float: left;
}

/* line 44, ../sass/stuff/_helpers.scss */
.fright {
  float: right;
}

/* line 45, ../sass/stuff/_helpers.scss */
.clear {
  clear: both;
  float: none;
}

/* line 47, ../sass/stuff/_helpers.scss */
.text-left {
  text-align: left;
}

/* line 48, ../sass/stuff/_helpers.scss */
.text-right {
  text-align: right;
}

/* line 49, ../sass/stuff/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 50, ../sass/stuff/_helpers.scss */
.pr {
  position: relative;
}

/* line 51, ../sass/stuff/_helpers.scss */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 54, ../sass/stuff/_helpers.scss */
.gv1 {
  height: 20px;
  position: relative;
}

/* line 54, ../sass/stuff/_helpers.scss */
.gv2 {
  height: 40px;
  position: relative;
}

/* line 54, ../sass/stuff/_helpers.scss */
.gv3 {
  height: 60px;
  position: relative;
}

/* line 54, ../sass/stuff/_helpers.scss */
.gv4 {
  height: 80px;
  position: relative;
}

/* line 54, ../sass/stuff/_helpers.scss */
.gv5 {
  height: 100px;
  position: relative;
}

/* line 54, ../sass/stuff/_helpers.scss */
.gv6 {
  height: 120px;
  position: relative;
}

/* line 54, ../sass/stuff/_helpers.scss */
.gv7 {
  height: 140px;
  position: relative;
}

/* line 54, ../sass/stuff/_helpers.scss */
.gv8 {
  height: 160px;
  position: relative;
}

/* line 69, ../sass/stuff/_helpers.scss */
.mtvg {
  margin-top: 20px;
  margin-top: 1.25rem;
}

/* line 69, ../sass/stuff/_helpers.scss */
.mbvg {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

/* line 69, ../sass/stuff/_helpers.scss */
.ptvg {
  padding-top: 20px;
  padding-top: 1.25rem;
}

/* line 69, ../sass/stuff/_helpers.scss */
.pbvg {
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}

/* line 83, ../sass/stuff/_helpers.scss */
.mtvhg {
  margin-top: 10px;
  margin-top: 0.625rem;
}

/* line 83, ../sass/stuff/_helpers.scss */
.mbvhg {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}

/* line 83, ../sass/stuff/_helpers.scss */
.ptvhg {
  padding-top: 10px;
  padding-top: 0.625rem;
}

/* line 83, ../sass/stuff/_helpers.scss */
.pbvhg {
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}

/* line 103, ../sass/stuff/_helpers.scss */
.mg {
  margin: 20px;
  margin: 1.25rem;
}

/* line 103, ../sass/stuff/_helpers.scss */
.mtg {
  margin-top: 20px;
  margin-top: 1.25rem;
}

/* line 103, ../sass/stuff/_helpers.scss */
.mrg {
  margin-right: 20px;
  margin-right: 1.25rem;
}

/* line 103, ../sass/stuff/_helpers.scss */
.mbg, .nav, .island, .media {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

/* line 103, ../sass/stuff/_helpers.scss */
.mlg {
  margin-left: 20px;
  margin-left: 1.25rem;
}

/* line 103, ../sass/stuff/_helpers.scss */
.pg {
  padding: 20px;
  padding: 1.25rem;
}

/* line 103, ../sass/stuff/_helpers.scss */
.ptg {
  padding-top: 20px;
  padding-top: 1.25rem;
}

/* line 103, ../sass/stuff/_helpers.scss */
.prg {
  padding-right: 20px;
  padding-right: 1.25rem;
}

/* line 103, ../sass/stuff/_helpers.scss */
.pbg {
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}

/* line 103, ../sass/stuff/_helpers.scss */
.plg {
  padding-left: 20px;
  padding-left: 1.25rem;
}

/* line 123, ../sass/stuff/_helpers.scss */
.mhg {
  margin: 10px;
  margin: 0.625rem;
}

/* line 123, ../sass/stuff/_helpers.scss */
.mthg {
  margin-top: 10px;
  margin-top: 0.625rem;
}

/* line 123, ../sass/stuff/_helpers.scss */
.mrhg, img.right {
  margin-right: 10px;
  margin-right: 0.625rem;
}

/* line 123, ../sass/stuff/_helpers.scss */
.mbhg {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}

/* line 123, ../sass/stuff/_helpers.scss */
.mlhg, img.left {
  margin-left: 10px;
  margin-left: 0.625rem;
}

/* line 123, ../sass/stuff/_helpers.scss */
.phg {
  padding: 10px;
  padding: 0.625rem;
}

/* line 123, ../sass/stuff/_helpers.scss */
.pthg {
  padding-top: 10px;
  padding-top: 0.625rem;
}

/* line 123, ../sass/stuff/_helpers.scss */
.prhg {
  padding-right: 10px;
  padding-right: 0.625rem;
}

/* line 123, ../sass/stuff/_helpers.scss */
.pbhg {
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}

/* line 123, ../sass/stuff/_helpers.scss */
.plhg {
  padding-left: 10px;
  padding-left: 0.625rem;
}
