// Cores
$black: #000000;
$white: #FFFFFF;
$gray: #888888;
$blue: #75d1f3;
$blueDark: #2c86a7;

$transparent: transparent;

$bg: #edf4f8;

// Grid Colors
$gh1: rgba(255,255,0,.1);
$gh2: rgba(255,0,255,.3);
$ghLines: #4AFFFF;
$ghCol: rgba(0,255,0,.2);

// Font
$fontBase: 16;
$fontSize: 100%;

// Web Font
// $webfont01: 'Source Sans Pro';
$webfont01: Arial;

// Espaçamentos
$gutterHorizontal: 20px;
$gutterVertical: 20px;

// Border Radius
$br: relative-size(5,$fontBase,rem);
